<header>
    <div class="d-flex flex-row align-items-center justify-content-between p-3 mb-3 px-4 border-botto bg-white shadow-sm">
        <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;">
        <nav class="d-inline-flex mt-2 mt-md-0 text-uppercase fs-4">
            <a class="py-2" 
                routerLink="/" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >Home</a>
            <a class="py-2" routerLink="/shop" routerLinkActive="active">Shop</a>
            <a class="py-2" routerLink="/contact" routerLinkActive="active">Contact</a>
            <a class="py-2" routerLink="/test-error" routerLinkActive="active">Error</a>
        </nav>
        <div class="d-flex align-items-center">
            <a class="position-relative">
                <i class="fa fa-shopping-cart fa-2x me-5 link-body-emphasis"></i>
                <div class="cart-no">5</div>
            </a>
            <a href="" class="btn btn-outline-secondary me-2">Login</a>
            <a href="" class="btn btn-outline-secondary me-3">Sign up</a>
        </div>
    </div>
</header> 